.App {
  text-align: center;

  p {
    margin: 2px;
  }

  &-percent-slider {
    max-width: 40vmin;
  }

  &-header {
    background-color: #e6eeff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  &-link {
    color: #004457;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
